<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DBServerSql" value="SRVSQL07" />
    <add key="enderecosEmail" value="joao.viana@redeflex.com.br;daniel.matos@redeflex.com.br;jamil.zazu@redeflex.com.br;jaudo.correa@redeflex.com.br;jorge.augusto@redeflex.com.br;fabio.trindade@redeflex.com.br;juliano.duarte@redeflex.com.br;thiago.procorio@redeflex.com.br;luy.santana@redeflex.com.br;luciana.aquino@redeflex.com.br;leandro.rambo@redeflex.com.br" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Guards" publicKeyToken="ac6aedb73a72f46e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.14.0" newVersion="1.0.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.105.1" newVersion="1.0.105.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
